body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f8; /* Verde água claro */
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
}

/* Estiliza o cabeçalho principal */
h1 {
    color: #ff69b4; /* Rosa quente */
    text-align: center;
    padding: 20px;
    background-color: #e0ffff; /* Verde água muito claro */
    margin: 0;
}

/* Estiliza os títulos secundários */
h2 {
    color: #ff69b4; /* Rosa quente */
    margin-bottom: 10px;
}

/* Estiliza o container dos botões */
div {
    text-align: center;
    margin-left: 20%;
    margin-top: 10px;
    border: 1px #333 solid;
    border-radius: 10px;
    width: 50%;

}

/* Estiliza os botões */
button {
    background-color: #00ced1; /* Verde água */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Estiliza o estado hover dos botões */
button:hover {
    background-color: #20b2aa; /* Verde água mais escuro */
    border: 1px #147a75 solid;
}